{{ asset_add("styles.css", "redtally.field_type.currency::scss/select2.min.scss") }}
{{ asset_add("styles.css", "redtally.field_type.currency::scss/overrides.scss") }}
{{ asset_add("scripts.js", "redtally.field_type.currency::js/select2.full.min.js") }}
{{ asset_add("scripts.js", "redtally.field_type.currency::js/search.js") }}

<select
        name="{{ field_type.input_name }}"
        {{ html_attributes(field_type.attributes) }}
        {{ field_type.disabled ? 'disabled' }}
        {{ field_type.readonly ? 'readonly' }}>

    {% if field_type.placeholder %}
        <option value="">{{ trans(field_type.placeholder) }}</option>
    {% endif %}

    {% for iso, name in field_type.options %}
        <option value="{{ iso }}" {{ iso == field_type.value ? 'selected' }}>{{ trans(name) }}</option>
    {% endfor %}

</select>
